html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    color: #000;
    font-family: Comfortaa;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    border: none;
    padding: 0;
    border-radius: 0;
    cursor: pointer;
}

.title {
    font-family: 'Yeseva One', cursive;
    font-size: 40px;
    margin-bottom: 15px;
    font-weight: 400;
}

.container {
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
}

.section {
    padding-bottom: 150px;
}

.section--decor {
    position: relative;
}

.section--decor::before {
    content: '';
    background-image: url(../images/decor.svg);
    position: absolute;
    width: 24px;
    height: 33px;
    background-position: center center;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
}

.section--decor::after {
    content: '';
    background-color: #7b6152;
    position: absolute;
    width: 908px;
    height: 1px;
    bottom: 13px;
    left: 22px;
}

.menu__btn {
    display: none;
    width: 30px;
    height: 25px;
    background-color: transparent;
    flex-direction: column;
    justify-content: space-between;
}

.menu__btn span {
    width: 100%;
    height: 1px;
    background-color: #7b6152;
}

.header {
    background-color: #fff8f3;
}

.header__inner {
    padding-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    display: flex;
    gap: 20px;
}

.menu__list-link {
    text-transform: uppercase;
}

.phone {
    position: relative;
}

.phone::before {
    content: '';
    position: absolute;
    background-image: url(../images/phone.svg);
    width: 20px;
    height: 20px;
    left: -23px;
    top: -3px;
}

.main {
    background-color: #fff8f3;
    overflow-x: clip;
}

.top {
    padding: 50px 0 150px;
}

.top__inner {
    position: relative;
}

.top__content {
    max-width: 370px;
    padding: 150px 0 257px;
}

.top__title {
    font-family: 'Yeseva One', cursive;
    font-size: 30px;
}

.top__text {
    margin: 15px 0 48px;
    line-height: 1.2;
}

.top__text:first-child {
    margin-bottom: 15px;
}

.top__buy {
    padding: 18px 54px;
    background-color: #ffbd59;
    font-size: 14px;
    font-weight: 600;
}

.top__img {
    position: absolute;
    left: 240px;
    top: 0;
}

.about {
    background-color: #a5978e;
    padding: 50px 0;
    color: #fff;
    margin-bottom: 150px;
}

.about__inner {
    display: flex;
    align-items: center;
}

.about__content {
    min-width: 370px;
}

.about__text {
    margin-bottom: 15px;
}

.about__list {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 0 50px 110px;
}

.about__item-img {
    margin-bottom: 10px;
}

.about__item-text {
    font-size: 10px;
}

.section__inner {
    display: grid;
    grid-template-columns: 370px auto;
}

.section__content {
    display: grid;
    grid-template-columns: auto auto;
    padding-bottom: 92px;
    padding-left: 80px;
}

.products__content {
    gap: 50px 90px;

}

.product__item {
    text-align: center;
    margin: 0 auto;
    max-width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product__item-img {
    margin-bottom: 8px;
}

.product__item-price {
    margin-bottom: 12px;
    font-size: 16px;
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
}

.product__item-title {
    margin-bottom: 16px;
    font-size: 16px;
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
}

.product__item-text {
    margin-bottom: 27px;
}

.button {
    padding: 18px 54px;
    background-color: #ffbd59;
    font-size: 14px;
    font-weight: 600;
}

.steps__list {
    gap: 70px 25px;
    counter-reset: number;
}

.steps__item {
    display: flex;
    column-gap: 39px;
    list-style-type: none;
    position: relative;
}

.steps__item::before {
    counter-increment: number;
    content: '0' counter(number);
    position: absolute;
    bottom: 0;
    font-size: 30px;
    font-family: 'Yeseva One', cursive;
    color: #BEA495;
}
.steps__item:nth-child(n+10)::before{
    content: counter(number);
}

.steps__item.steps__item--even::before {
    left: auto;
    right: 0;
}

.steps__item-text {
    flex-basis: 174px;
    padding-bottom: 40px;
}








/* -footer---------------------------- */
.footer {
    padding: 40px 0 35px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
}

.email {
    margin: 17px 0;
}

.footer__social {
    display: flex;
    gap: 15px;
}

@media (max-width: 1000px) {
    .container {
        padding: 0 20px;
    }

    .top__content {
        max-width: 333px;
        padding: 95px 0 70px;
    }

    .top__text {
        margin-bottom: 30px;
    }

    .top__img {
        left: 300px;
    }

    .top__img-big {
        max-width: 655px;
    }

    .about__content {
        min-width: 300px;
    }

    .about__list {
        padding-left: 20px;
    }

    .section__inner {
        grid-template-columns: 290px auto;
        gap: 0 10px;
    }

    .section__content {
        padding-left: 0;
    }

    .section__text {
        font-size: 10px;
    }
    .steps__list{
        gap: 35px 37px;

    }
    .steps__item{
        column-gap: 30px;

    }
    .steps__item img{
        max-width: 130px;
        max-height: 225px;
    }

}

@media (max-width: 900px) {
    .footer__inner {
        flex-wrap: wrap;
    }

    .footer__contacts {
        width: 100%;
        text-align: center;
    }

    .footer__social {
        justify-content: center;
    }

    .product__item {
        max-width: 200px;
    }

    .product__item-img {
        width: 100%;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 10px;
    }

    .container {
        padding: 0 10px;
    }

    .phone::before {
        width: 14px;
        height: 14px;
        left: -16px;
        top: -2px;
        background-size: cover;
    }

    .top__content {
        width: 230px;
    }

    .top__title {
        font-size: 20px;
    }

    .top__text {
        font-size: 10px;
        margin: 20px 0;
    }

    .top__img {
        left: 180px;
    }

    .about__content {
        min-width: 200px;
    }

    .about__list {
        margin-left: 27px;
        padding-bottom: 32px;
        gap: 10px;
    }

    .about__title {
        font-size: 15px;
    }

    .about__item-img {
        margin-bottom: 6px;
    }

    .about__item-text {
        font-size: 6px;
    }

    .about__item-img--1,
    .about__item-img--3 {
        width: 121px;
    }

    .about__item-img--2 {
        width: 191px;
    }

    .section__inner {
        grid-template-columns: 190px auto;

    }

    .products__content {
        gap: 30px 16px;
    }

    .title {
        font-size: 15px;
    }

    .product__item-text {
        font-size: 8px;
    }

    .button {
        font-size: 12px;
    }
    .steps__item{
        column-gap: 20px;
    }
    .steps__item::before{
        font-size: 20px;
    }
      .steps__item img{
        max-width: 85px;
        max-height: 150px;
    }
}

@media (max-width: 570px) {
    .header__menu {
        order: 1;
    }

    .menu__btn {
        display: flex;
    }

    .header-menu__list {
        min-width: 153px;
        background-color: #7b6152;
        color: #ffff;
        flex-direction: column;
        gap: 20px 0;
        padding: 25px 35px 25px 45px;
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(-110%);
        transition: transform 0.5s ease;
        z-index: 999;
    }

    .header-menu__list.menu--open {
        transform: translateY(0);
    }

    .about {
        margin-bottom: 50px;
    }

    .section {
        padding-bottom: 50px;
    }

    .section__inner {
        display: block;
    }

    .section__descr {
        text-align: center;
        max-width: 300px;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    .footer {
        padding: 50px 0;
        font-size: 14px;
    }

    .footer__inner {
        flex-direction: column;
        justify-content: center;
    }

    .footer-menu__list {
        flex-direction: column;
        padding: 50px 0;
        text-align: center;
    }
    .steps__list{
        gap: 35px 25px;
    }

}

@media (max-width: 480px) {
    .top {
        padding: 30px 0 50px;
    }

    .top__content {
        max-width: 180px;
    }

    .top__title {
        font-size: 16px;
        line-height: 1.2;
    }

    .top__text {
        font-size: 8px;
        line-height: 1.2;
        margin-bottom: 15px;
    }

    .top__img {
        left: 130px;
        max-width: 309px;
    }

    .top__buy {
        font-size: 10px;
        padding: 14px 41px;
    }

    .about__content {
        min-width: 172px;
    }

    .about__list {
        margin-left: 17px;
        padding-bottom: 50px;
        gap: 5px;
    }

    .about__item-img--1,
    .about__item-img--3 {
        width: 80px;
    }

    .about__item-img--2 {
        width: 140px;
    }
     .steps__list{
        gap: 15px 25px;
    }
     .steps__item::before{
        font-size: 12px;
    }
    .steps__item{
        column-gap: 16px;
    }
    .steps__item-text{
        padding-bottom: 25px;
    }
}

@media (max-width: 360px) {
    .top__content {
        max-width: 200px;
        padding: 20px 0 0;
    }

    .top__img {
        max-width: 114px;
        left: 190px;
        top: -24px;
    }

    .top__title {
        font-size: 18px;
        line-height: 1.2;
    }

    .top__text {
        font-size: 10px;
    }

    .about__content {
        min-width: 234px;
    }

    .about__list {
        margin-left: 15px;
        padding-bottom: 50px;
        padding-left: 10px;
    }

    .about__item-img--2,
    .about__item-img--3,
    .about__item-text {
        display: none;
    }

    .section__content {
        padding-bottom: 50px;
    }

    .section__descr {
        max-width: 235px;
    }

    .section__text {
        font-size: 8px;
    }

    .product__item-title,
    .product__item-price {
        font-size: 10px;
    }

    .product__item-text {
        font-size: 6px;
    }

    .button {
        font-size: 8px;
        padding: 8px 25px;
    }
      .steps__item img{
        max-width: 66px;
        max-height: 100px;
    }
   

}

/* font-family: 'Comfortaa', cursive;
font-family: 'Yeseva One', cursive; */