html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    color: #000;
    font-family: Comfortaa;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    border: none;
    padding: 0;
    border-radius: 0;
    cursor: pointer;
}

.title {
    font-family: 'Yeseva One';
    font-size: 40px;
    margin-bottom: 15px;
    font-weight: 600;
    font-family: normal;
}
.text {
    font-family: 'Comfortaa';
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.5;
}

.container {
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
}

.section {
    padding-bottom: 150px;
}

.section--decor {
    position: relative;
}

.section--decor::before {
    content: '';
    background-image: url(../images/decor.svg);
    position: absolute;
    width: 24px;
    height: 33px;
    background-position: center center;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
}

.section--decor::after {
    content: '';
    background-color: #7b6152;
    position: absolute;
    width: 908px;
    height: 1px;
    bottom: 13px;
    left: 22px;
}

.menu__btn {
    display: none;
    width: 30px;
    height: 25px;
    background-color: transparent;
    flex-direction: column;
    justify-content: space-between;
}

.menu__btn span {
    width: 100%;
    height: 1px;
    background-color: #7b6152;
}

.header {
    background-color: #fff8f3;
}

.header__inner {
    padding-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    display: flex;
    gap: 20px;
}

.menu__list-link {
    text-transform: uppercase;
}

.phone {
    position: relative;
}

.phone::before {
    content: '';
    position: absolute;
    background-image: url(../images/phone.svg);
    width: 20px;
    height: 20px;
    left: -23px;
    top: -3px;
}

.main {
    background-color: #fff8f3;
    overflow-x: clip;
}

.top {
    padding: 50px 0 150px;
}

.top__inner {
    position: relative;
}

.top__content {
    max-width: 370px;
    padding: 150px 0 257px;
}

.top__title {
    font-family: 'Yeseva One';
    font-size: 30px;
}

.top__text {
    margin: 15px 0 48px;
}

.top__text:first-child {
    margin-bottom: 15px;
}

.top__buy {
    padding: 18px 54px;
    background-color: #ffbd59;
    font-size: 14px;
    font-weight: 600;
}

.top__img {
    position: absolute;
    left: 240px;
    top: 0;
}

.about {
    background-color: #a5978e;
    padding: 50px 0;
    color: #fff;
    margin-bottom: 150px;
}

.about__inner {
    display: flex;
    align-items: center;
}

.about__content {
    min-width: 370px;
}

.about__text {
    margin-bottom: 15px;
}

.about__list {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 0 50px 110px;
}

.about__item-img {
    margin-bottom: 10px;
}

.about__item-text {
    font-size: 10px;
}

.section__inner {
    display: grid;
    grid-template-columns: 370px auto;
}

.section__content {
    display: grid;
    gap: 50px 90px;
    grid-template-columns: auto auto;
    padding-bottom: 92px;
    padding-left: 80px;
}

.product__item {
    text-align: center;
    margin: 0 auto;
    max-width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product__item-img {
    margin-bottom: 8px;
}

.product__item-price {
    margin-bottom: 12px;
    font-size: 16px;
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
}

.product__item-title {
    margin-bottom: 16px;
    font-size: 16px;
    font-family: 'Yeseva One';
    font-weight: 400;
}

.product__item-text {
    margin-bottom: 27px;
}

.button {
    padding: 18px 54px;
    background-color: #ffbd59;
    font-size: 14px;
    font-weight: 600;
}

.steps__list {
    gap: 70px 25px;
    counter-reset: number;
}

.steps__item {
    display: flex;
    column-gap: 39px;
    list-style-type: none;
    position: relative;
}

.steps__item::before {
    counter-increment: number;
    content: '0' counter(number);
    position: absolute;
    bottom: 0;
    font-size: 30px;
    font-family: 'Yeseva One', cursive;
    color: #bea495;
}

.steps__item:nth-child(n + 10)::before {
    content: counter(number);
}

.steps__item.steps__item--even::before {
    left: auto;
    right: 0;
}

.steps__item-text {
    flex-basis: 174px;
    padding-bottom: 40px;
}

.steps__item img {
    max-width: 160px;
    max-height: 220px;
}

.course__img-box {
    margin-bottom: 28px;
    position: relative;
}

.course__img {
    display: block;
    width: 100%;
    height: auto;
}

.course__img-box p {
    background-color: #bea495;
    position: absolute;
    color: #fff;
    font-family: 'Yeseva One', cursive;
    font-size: 11px;
    line-height: 1.5;
}

.course__title {
    padding: 15px 10px;
    top: 45%;
    text-align: left;
}

.course__time {
    padding: 7px 10px;
    top: 60%;
}

.course__price {
    padding: 19px 10px;
    right: -14px;
    bottom: -13px;
}
.team {
    background-color: #a5978e;
    padding-top: 61px;
    padding-bottom: 0;
    margin-bottom: 150px;
    color: #fff;
}
.team__item {
    position: relative;
}

.team__info-box {
    background-color: #7b6152;
    color: #fff;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 15px;
    width: 60%;
    height: 30%;
    right: -50px;
    box-sizing: content-box;
    z-index: 4;
}
.team__name {
    font-size: 12px;
    font-family: 'Yeseva One';
    letter-spacing: 1px;
}
.team__name-descr {
    font-size: 11px;
}
.rewiews__content {
    gap: 0;
    padding-left: 20px;
}
.rewiews__slider {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.rewiews__video {
    display: flex;
    gap: 16px;
}
.rewiews__img-box {
    position: relative;
}
.rewiews__img {
    object-fit: cover;
    width: 380px;
    height: 370px;
}

.rewiews__img-box a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rewiews__video-content {
    padding: 60px 0 13px 0;
}
.rewiews__video-link {
    margin-bottom: 12px;
}
.rewiews__video-text {
    margin-top: 15px;
    margin-bottom: 37px;
    line-height: 1.2;
}
.rewiew__video-btn {
    margin-left: 90px;
    text-align: right;
}
.rewiews__content .swiper-pagination {
    bottom: 45px;
}

.swiper-pagination-bullet {
    width: 53px;
    height: 4px;
    border-radius: 0;
    background-color: #bea495;
}

.certificates__content {
    gap: 0;
    padding-left: 20px;
    
}
.certificates__slider {
    width: 875px;
    overflow: hidden;
}
.certificates__img{
    width: 375px;
}

.certificates__content .swiper-pagination {
    bottom: 45px;
}

/* -footer---------------------------- */
.footer {
    padding: 40px 0 35px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
}

.email {
    margin: 17px 0;
}

.footer__social {
    display: flex;
    gap: 15px;
}
/* -------------media------------------- */
@media (max-width: 1000px) {
    .container {
        padding: 0 20px;
    }

    .top__content {
        max-width: 333px;
        padding: 95px 0 70px;
    }

    .top__text {
        margin-bottom: 30px;
    }

    .top__img {
        left: 300px;
    }

    .top__img-big {
        max-width: 655px;
    }

    .about__content {
        min-width: 300px;
    }

    .about__list {
        padding-left: 20px;
    }

    .section__inner {
        grid-template-columns: 290px auto;
        gap: 0 10px;
    }

    .section__content {
        padding-left: 0;
    }

    .section__text {
        font-size: 10px;
    }

    .steps__list {
        gap: 35px 37px;
    }

    .steps__item {
        column-gap: 30px;
    }

    .steps__item img {
        max-width: 130px;
        max-height: 225px;
    }
    .team__info-box {
        bottom: -19px;
    }
    .rewiew__video-btn {
        padding: 15px;
        margin-left: 0;
    }
    .rewiews__img {
        width: 270px;
        height: 320px;
    }
    .rewiews__video-content {
        padding-top: 10px;
        padding-bottom: 15px;
    }
    .certificates__slider {
        width: 650px;
    }
    .certificates__img {
        width: 280px;
    }
}

@media (max-width: 900px) {
    .footer__inner {
        flex-wrap: wrap;
    }

    .footer__contacts {
        width: 100%;
        text-align: center;
    }

    .footer__social {
        justify-content: center;
    }

    .product__item {
        max-width: 200px;
    }

    .product__item-img {
        width: 100%;
    }
    .course__title {
        padding: 15px 10px;
        top: 40%;
        text-align: left;
    }

    .course__price {
        padding: 15px 10px;
        right: -14px;
        bottom: -13px;
    }
    .team__content {
        gap: 25px 70px;
    }
}
@media (max-width: 800px) {
    .rewiew__video-btn {
        padding: 15px;
        margin-left: 0;
    }
    .rewiews__img {
        width: 270px;
        height: 320px;
    }
    .rewiews__video-content {
        padding-top: 10px;
        padding-bottom: 15px;
    }
    .certificates__slider {
        width: 575px;
    }
    .certificates__img {
        width: 250px;
    }
    .swiper-pagination-bullet{
       width: 30px;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 10px;
    }

    .container {
        padding: 0 10px;
    }
    .section{
        padding-bottom: 80px;
    }

    .phone::before {
        width: 14px;
        height: 14px;
        left: -16px;
        top: -2px;
        background-size: cover;
    }
 
    .top{
        padding-bottom: 80px;
    }

    .top__content {
        width: 230px;
    }

    .top__title {
        font-size: 20px;
    }

    .top__text {
        font-size: 10px;
        margin: 20px 0;
    }

    .top__img {
        left: 180px;
    }
    .about{
        margin-bottom: 80px;
    }

    .about__content {
        min-width: 200px;
    }

    .about__list {
        margin-left: 27px;
        padding-bottom: 80px;
        gap: 10px;
    }

    .about__title {
        font-size: 15px;
    }

    .about__item-img {
        margin-bottom: 6px;
    }

    .about__item-text {
        font-size: 6px;
    }

    .about__item-img--1,
    .about__item-img--3 {
        width: 121px;
    }

    .about__item-img--2 {
        width: 191px;
    }

    .section__inner {
        grid-template-columns: 190px auto;
    }

    .section__content {
        gap: 30px 16px;
    }

    .title {
        font-size: 15px;
    }

    .product__item-text {
        font-size: 8px;
    }

    .button {
        font-size: 12px;
    }

    .steps__item {
        column-gap: 20px;
    }

    .steps__item::before {
        font-size: 20px;
    }

    .steps__item img {
        max-width: 85px;
        max-height: 150px;
    }
    .team{
        margin-bottom: 80px;
    }
    .team__content{
        padding-bottom: 0;
    }
    .team__name {
        font-size: 8px;
    }
    .team__name-descr {
        font-size: 7px;
    }
    .team__info-box {
        padding: 10px 15px 11px;
        width: 50%;
        height: 30%;
        right: -20px;
    }
    .team__img {
        width: 143px;
        height: 155px;
    }
    .rewiews__img {
        width: 200px;
        height: 200px;
    }
    .rewiews__video-content {
        padding-top: 10px;
        padding-bottom: 15px;
    }
    .rewiews__content {
        padding-bottom: 50px;
    }
    .rewiew__video-btn {
        padding: 10px;
        font-size: 11px;
    }
    .rewiews__video-text {
        font-size: 11px;
        margin-bottom: 15px;
    }
    .rewiews__img-box a img {
        width: 45px;
    }
    .certificates__img {
        width: 200px;
    }
    .certificates__slider{
        width: 520px;
    }

}

@media (max-width: 570px) {
    .header__menu {
        order: 1;
    }

    .menu__btn {
        display: flex;
    }

    .header-menu__list {
        min-width: 153px;
        background-color: #7b6152;
        color: #ffff;
        flex-direction: column;
        gap: 20px 0;
        padding: 25px 35px 25px 45px;
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(-110%);
        transition: transform 0.5s ease;
        z-index: 999;
    }

    .header-menu__list.menu--open {
        transform: translateY(0);
    }

    .about {
        margin-bottom: 50px;
    }

    .section {
        padding-bottom: 50px;
    }

    .section__inner {
        display: block;
    }

    .section__descr {
        text-align: center;
        max-width: 300px;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    .footer {
        padding: 50px 0;
        font-size: 14px;
    }

    .footer__inner {
        flex-direction: column;
        justify-content: center;
    }

    .footer-menu__list {
        flex-direction: column;
        padding: 50px 0;
        text-align: center;
    }

    .steps__list {
        gap: 35px 25px;
    }
  
     .certificates__img {
        width: 200px;
    }
  
}

@media (max-width: 480px) {
    .top {
        padding: 30px 0 50px;
    }

    .top__content {
        max-width: 180px;
    }

    .top__title {
        font-size: 16px;
        line-height: 1.2;
    }

    .top__text {
        font-size: 8px;
        margin-bottom: 15px;
    }

    .top__img {
        left: 130px;
        max-width: 309px;
    }

    .top__buy {
        font-size: 10px;
        padding: 14px 41px;
    }

    .about__content {
        min-width: 172px;
    }

    .about__list {
        margin-left: 17px;
        padding-bottom: 50px;
        gap: 5px;
    }

    .about__item-img--1,
    .about__item-img--3 {
        width: 80px;
    }

    .about__item-img--2 {
        width: 140px;
    }

    .steps__list {
        gap: 15px 25px;
    }

    .steps__item::before {
        font-size: 12px;
    }

    .steps__item {
        column-gap: 16px;
    }

    .steps__item-text {
        padding-bottom: 25px;
    }
      .certificates__img{
        width: 165px;
    }

    .certificates__slider{
        width: 430px;
    }
}
@media (max-width: 480px) {
    .course__title {
        padding: 10px;
        top: 40%;
        text-align: left;
    }

    .course__time {
        padding: 7px 10px;
        top: 60%;
    }

    .course__price {
        padding: 10px;
        right: -14px;
        bottom: -13px;
    }
    .swiper-pagination-bullet {
width: 20px;
}
}

@media (max-width: 360px) {
    .top__content {
        max-width: 200px;
        padding: 20px 0 0;
    }

    .top__img {
        max-width: 114px;
        left: 190px;
        top: -24px;
    }

    .top__title {
        font-size: 18px;
        line-height: 1.2;
    }

    .top__text {
        font-size: 10px;
    }

    .about__content {
        min-width: 234px;
    }

    .about__list {
        margin-left: 15px;
        padding-bottom: 50px;
        padding-left: 10px;
    }

    .about__item-img--2,
    .about__item-img--3,
    .about__item-text {
        display: none;
    }

    .section__content {
        padding-bottom: 50px;
    }

    .section__descr {
        max-width: 235px;
    }

    .section__text {
        font-size: 8px;
    }
    .section__courses {
        grid-template-columns: auto;
    }

    .product__item-title,
    .product__item-price {
        font-size: 10px;
    }

    .product__item-text {
        font-size: 6px;
    }

    .button {
        font-size: 8px;
        padding: 8px 25px;
    }

    .steps__item img {
        max-width: 66px;
        max-height: 100px;
    }
    .product__item {
        max-width: 100%;
    }
    .course__title {
        padding: 15px 10px;
        top: 45%;
    }

    .course__time {
        padding: 7px 10px;
        top: 60%;
    }

    .course__price {
        padding: 19px 10px;
    }
    .team__content {
        grid-template-columns: auto;
    }
    .team__item {
        display: flex;
    }

    .team__img {
        width: 205px;
        height: 220px;
    }
    .team__name {
        font-size: 11px;
    }
    .team__name-descr {
        font-size: 10px;
    }
    .certificates__slider .swiper-wrapper{
        padding-bottom: 20px;
    }
}

/* font-family: 'Comfortaa', cursive;
font-family: 'Yeseva One', cursive; */
